TimeTrackerService/Service.Tests/Service References/TTServiceHTTPS/TimeTrackerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimeTrackerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITimeTrackerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://timetrackerservice.azurewebsites.net/TimeTrackerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://timetrackerservice.azurewebsites.net/TimeTrackerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://timetrackerservice.azurewebsites.net/TimeTrackerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITimeTrackerService_HelloFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloFriends" />
  </wsdl:message>
  <wsdl:message name="ITimeTrackerService_HelloFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeTrackerService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="ITimeTrackerService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="ITimeTrackerService">
    <wsdl:operation name="HelloFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeTrackerService/HelloFriends" message="tns:ITimeTrackerService_HelloFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeTrackerService/HelloFriendsResponse" message="tns:ITimeTrackerService_HelloFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeTrackerService/GetAllUsers" message="tns:ITimeTrackerService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeTrackerService/GetAllUsersResponse" message="tns:ITimeTrackerService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITimeTrackerService" type="tns:ITimeTrackerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloFriends">
      <soap:operation soapAction="http://tempuri.org/ITimeTrackerService/HelloFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/ITimeTrackerService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITimeTrackerService" type="tns:ITimeTrackerService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITimeTrackerService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloFriends">
      <soap:operation soapAction="http://tempuri.org/ITimeTrackerService/HelloFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/ITimeTrackerService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimeTrackerService">
    <wsdl:port name="BasicHttpBinding_ITimeTrackerService" binding="tns:BasicHttpBinding_ITimeTrackerService">
      <soap:address location="http://timetrackerservice.azurewebsites.net/TimeTrackerService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITimeTrackerService" binding="tns:BasicHttpsBinding_ITimeTrackerService">
      <soap:address location="https://timetrackerservice.azurewebsites.net/TimeTrackerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>